* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: #003f62;
  --price-color: #4a4a4a;
  --star-fill: #acacac;
  --point-color: #eda415;
  --border-color: #b6b6b6;
  --hover-color: #87bcd9;
  --hove-text-color: white;
  --hover-btn-color: #87bcd9;
}

body {
  width: 100vw;
}

main {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.slider_good {
  max-width: 381.63px;
  height: 147px;
  flex-grow: 1;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  overflow: hidden;
  margin-right: 39px;
}

.slider_good:nth-child(3) {
  margin-right: 0px;
}

.description {
  margin-left: 43px;
}

.main_text {
  font-size: 23.38px;
  color: var(--text-color);
  font-weight: 600;
}

.secondary_text {
  font-size: 18.85px;
  color: var(--text-color);
}

.slider {
  position: relative;
}

.arrow-right {
  rotate: 180deg;
}

.arrow_box {
  position: absolute;
  width: 92.5%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular_product {
  margin-top: 82px;
}

.filter_list li {
  border: 1px solid var(--border-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 139px;
  height: 45px;
  margin-right: 13px;
  padding: 10px 36px;
  color: #1b5a7d;
}

.filter_list:last-child {
  margin-right: 0px;
}

.filter_list li:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  color: var(--hove-text-color);
}

.prod_card_box {
  margin-top: 53px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.prod_card {
  position: relative;
  width: 308.83px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding: 22px 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 26.56px;
  margin-bottom: 30.49px;
  cursor: pointer;
}


@keyframes rotateX {
  0% {
    transform: perspective(0px) rotateX(0deg);
  }
  100% {
    transform: perspective(150px) rotateX(50deg);
  }
}

.prod_card:hover {
  animation: rotateX 1500ms alternate ease-in-out 1000ms;
    .p_bord {
        display: none;
    };
    .hover_box{
        display: flex;
    }
}

.prod_card img {
  margin: 0 auto;
}

.p_bord {
  width: 100%;
  text-align: start;
}

.prod_name {
  font-size: 17.09px;
  color: var(--text-color);
  font-weight: 600;
}

.prod_price {
  margin: 15.74px 0px;
  color: var(--price-color);
  font-size: 17.09px;
  font-weight: 700;
}

.star {
  width: 100%;
  display: flex;
  align-items: start;
}

.star li {
  margin-right: 10.82px;
}

.star li:last-child {
  margin-right: 0px;
}

.star li:hover {
  cursor: pointer;
}

.star li img {
  width: 14.75px;
  height: 14.65px;
}

.heart {
  position: absolute;
  left: 255.72px;
  width: 27.54px;
  height: 27.54px;
  cursor: pointer;
}

.hover_box {
  width: 100%;
  display: none;
}

.hover_box_list li img {
  margin-left: 20px;
}

.hover_btn {
  background-color: var(--hover-btn-color);
  padding: 0 25px;
  border-radius: 20px;
  height: 60px;
  margin-top: 37.37px;
}

.eye {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
    width: 10%;
    margin: 0 auto;
    display: flex;
}

.pagination li {
    width: 19px;
    height: 19px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.pagination li:last-child {
    margin-right: 0px;
}

.pagination li:hover {
    background-color: var(--point-color);
}